In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre1.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.tree import DecisionTreeRegressor

from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],'max_features': ['auto', 'sqrt', 'log2'],'splitter':['best', 'random']}

grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose= 3,n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [11]:
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'}:

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015626,9.881590e-03,0.006251,7.655590e-03,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",0.722544,0.651518,0.727729,0.731134,0.682429,0.703071,0.031172,4
1,0.012499,6.249738e-03,0.006250,7.654539e-03,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",0.737669,0.505924,0.688593,0.731481,0.689869,0.670707,0.084874,12
2,0.012500,6.250238e-03,0.009375,7.654733e-03,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.653618,0.622638,0.593188,0.657237,0.742486,0.653833,0.050044,16
3,0.012500,6.249976e-03,0.009375,7.654733e-03,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.618107,0.529810,0.719739,0.676289,0.672765,0.643342,0.065290,18
4,0.009375,7.654539e-03,0.006250,7.654714e-03,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.745786,0.603588,0.728506,0.748373,0.674929,0.700236,0.055086,5
5,0.015625,6.031566e-07,0.003125,6.250000e-03,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.620170,0.527369,0.719847,0.555132,0.709339,0.626371,0.078149,20
6,0.012501,1.169334e-02,0.009375,7.654655e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.718791,0.659908,0.740264,0.738864,0.684631,0.708492,0.031521,2
7,0.012500,6.250191e-03,0.003125,6.250763e-03,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.730054,0.625019,0.687521,0.741512,0.653713,0.687564,0.044212,8
8,0.009375,7.654889e-03,0.012500,6.249929e-03,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.658696,0.620904,0.617011,0.661322,0.726846,0.656956,0.039502,15
9,0.009375,7.654694e-03,0.009375,7.654850e-03,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.670389,0.607412,0.731745,0.618387,0.683464,0.662279,0.045337,13
10,0.009375,7.654694e-03,0.006250,7.654539e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.743516,0.631313,0.706677,0.723295,0.753591,0.711678,0.043333,1
11,0.015625,7.979012e-07,0.003125,6.250191e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.656307,0.520260,0.755399,0.613468,0.677357,0.644558,0.077351,17
12,0.053126,7.654655e-03,0.009375,7.654772e-03,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.745915,0.582722,0.709738,0.730116,0.730467,0.699792,0.059652,6
13,0.043750,6.250739e-03,0.003125,6.250191e-03,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.638543,0.614505,0.683144,0.742167,0.725105,0.680693,0.048816,10
14,0.031250,5.135693e-07,0.012500,6.250191e-03,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.737119,0.608342,0.652132,0.717598,0.704709,0.683980,0.047157,9
15,0.028125,6.250310e-03,0.003125,6.250286e-03,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.732960,0.595169,0.718882,0.679355,0.654563,0.676186,0.049168,11
16,0.034376,6.249976e-03,0.006250,7.654714e-03,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.636295,0.541283,0.751282,0.743580,0.619633,0.658415,0.079487,14
17,0.031250,3.693565e-07,0.003125,6.250286e-03,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.738761,0.684796,0.718225,0.698944,0.677782,0.703701,0.022325,3
18,0.021875,7.655006e-03,0.006250,7.654889e-03,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.682701,0.629622,0.718441,0.742512,0.674725,0.689600,0.038724,7
19,0.012500,6.250095e-03,0.006250,7.655006e-03,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.669576,0.507730,0.660266,0.681994,0.626372,0.629187,0.063475,19
20,0.012500,6.249905e-03,0.003125,6.250191e-03,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.643558,0.540016,0.687657,0.535279,0.628111,0.606924,0.059864,23
21,0.003125,6.250191e-03,0.015625,8.529922e-07,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.594761,0.426585,0.603568,0.579691,0.539339,0.548789,0.064950,24
22,0.003125,6.249714e-03,0.006251,7.655590e-03,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.693004,0.425026,0.674272,0.630422,0.616523,0.607849,0.095574,22
23,0.015625,8.714517e-07,0.000000,0.000000e+00,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.637701,0.531470,0.639447,0.745565,0.574907,0.625818,0.072332,21

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:25
BMI:30
Children:1
Sex Male 0 or 1:0
Smoker Yes 0 or 1:1

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[33307.5508]

C:\Users\Go\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"